anthropic==0.28.1
crewai==0.30.11
Flask==3.0.3
google_api_python_client==2.131.0
isodate==0.6.1
langchain==0.2.5
ollama==0.2.1
openai==1.35.1
praisonai==0.0.31
protobuf==3.19.6
pydub==0.25.1
PyJWT==2.8.0
PyJWT==2.8.0
PyPDF2==3.0.1
pyperclip==1.8.2
python-dotenv==1.0.1
Requests==2.32.3
streamlit_shadcn_ui==0.1.18
unstructured==0.11.8
youtube_transcript_api==0.6.2
